<!DOCTYPE html>
<html lang="en" ng-app="parcelTrackerApp">
<head>
	<meta charset="UTF-8">
	<title>ParcelTracker</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<script src="lib/jquery-2.1.1.min.js"></script>
	<script src="lib/angular.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="popup.js"></script>
</head>
<body style="width:200px;">
	<div class="col-md-12" ng-controller="parcelTrackerController">
		<form id="tracking_form">
			<select id="carrier_id" class="form-control" ng-model="selected_carrier" ng-options="id as carrier.label for (id, carrier) in carriers" ng-required="true">
				<option value="">-- Transporteur --</option>
			</select>
			<input type="text" class="form-control" placeholder="Numéro de colis" ng-model="parcel_id" ng-required="true" autofocus>
			<input type="submit" class="btn btn-primary btn-block" value="Valider" ng-disabled="emptyForm()" ng-click="track()">
		</form>
	</div>
</body>
</html>
